

#customer-testimonials {
  background-color: rgb(255, 200, 200);
}

#customer-testimonials-inner {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2.5%;
}

#customer-testimony-area {
  background-color: rgb(50, 50, 50);
  border-radius: 5%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
}

.customer-testimony-field {
  background-color: rgb(250, 250, 250);
  border-radius: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  width: fit-content;
}

.customer-testimony-name {
  font-size: 1.75vw;
}

.customer-testimony-text {
  font-size: 1vw;
}
