#data {
  background-color: rgb(228, 214, 138);
  font-weight: 900;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 20%;
}

#datapadding {
  position: relative;
  left: -0.3%;
  padding: 0.2%;
  background-color: rgb(0, 0, 0);
  border-radius: 20%;
}


#phone-numbers {
    position: relative;
    bottom: 0px;
    color: hsl(0, 0%, 0%);
    font-family: serif;
    font-size: xx-large;
}


#emails {
    position: relative;
    bottom: 178px;
    left: 10%;
    color: hsl(0, 0%, 0%);
    font-family: serif;
    font-size: xx-large;
}