
#introduction {
  display: flex;
  justify-content: center;
  background-color: #EFDFBB;
}

#introduction-area {
  background-color: rgb(30, 30, 30);
  border-radius: 5%;
  padding: 5%;
  background-image: url('/assets/images/bild.png');
}

#introduction-field {
  opacity: 0.6;
  background-color: black;
  color: white;
  padding: 3%;
  border-radius: 10%;
  transform: translate(-50%, -50%);
}

#introduction-title {
  font-size: 2.5vw;
}

#introduction-text {
  font-size: 1.5vw;
}
