#menu {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#menu-title {
    font-size: 2vw;
    font-weight: thick;
    font-style: bold;
}

#menu-area {
  padding: 5%;
  background-color: rgb(36, 36, 36);
  border-radius: 5%;
  width: 80%;
  display: flex;
  justify-content: center;
}

#menu-img{
  width: 95%;
  border-radius: 5%;
}
