#topbar {
  background-color: rgb(155, 104, 28);
  border-bottom: 8px solid #000;
  width: 100%;
  display: flex;
  justify-content: center;
}

#tonylogo {
  width: 10vw;
}
#topBarButton {
  transition: all 600ms ease;
  background-color: rgb(50, 50, 50);
  font-size: 3vw;
  text-align: center;
  color: white;
  transform: (1);
  padding-left: 1%;
  padding-right: 1%;
}
#topBarButton:hover {
  transition: all 600ms ease;
  padding-bottom: 1%;
  border-top: 7px solid #000;
  border-bottom: 7px solid #000;
  border-left: 7px solid #000;
  border-right: 7px solid #000;
}
