#topbar {
  background-color: rgb(155, 104, 28);
  border-bottom: 8px solid #000;
  width: 100%;
  display: flex;
  justify-content: center;
}

#tonylogo {
  width: 8%;
  background-image: url('/assets/images/tonylogo.png');
}

.topBarButton {
  text-decoration: none;
  transition: all 600ms ease;
  font-size: 4vw;
  text-align: center;
  color: black;
  transform: (1);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5%;
  width: calc(100% / 7);
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.topBarButton:hover {
  transition: all 400ms ease;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  padding-top: 1%;
}


